/*******************
 * haf dialog
**/
.modal-dialog.haf-dialog{
    margin: 30px auto;
}
.modal-dialog.haf-dialog .modal-body{
    padding-bottom: 0px;
}
.modal-dialog.haf-dialog .modal-body form{
    padding-left: 5px;
    padding-right: 20px;
}

/* person select dialog */
/*person-select{
    width: 700px;
    margin:30px auto;
    display: table;
}*/
.modal-dialog .person-select,
.modal-dialog .org-select{
    border: 0;
    margin:0 auto;
    padding: 0;
    width:auto;
    height:auto;
    border-collapse: collapse;
}
.modal-dialog .person-select > tbody > tr > td,
.modal-dialog .org-select > tbody > tr > td{
    border: 4px solid #eee;
    padding: 0;
    margin: 0;
}
.modal-dialog .person-select div[haf-comp-id="deptTree"],
.modal-dialog .org-select div[haf-comp-id="deptTree"]{
    overflow:auto;
    width:160px;
    height:300px;
    margin-right:0px;
    padding: 5px
}
.modal-dialog .person-select div[haf-comp-id="deptTreeBtns"],
.modal-dialog .org-select div[haf-comp-id="deptTreeBtns"]{
    padding:2px 5px;
    color:#ddeeff;
    background:#f3f3f9;
    line-height:18px;
    border-bottom:1px solid #ddd;
}
.modal-dialog .person-select div[haf-comp-id="deptTree"] > div,
.modal-dialog .org-select div[haf-comp-id="deptTree"] > div{
    width:auto;
    display:inline-block;
}

.modal-dialog .person-select div[haf-comp-id="personList"]{
     width:360px;
     height:323px;
     margin:0 0px
 }
.modal-dialog .person-select div[haf-comp-id="personSelected"]{
    width:130px;
    height:300px;
    margin-left:0px;
    overflow:auto;
}


.modal-dialog .org-select div[haf-comp-id="orgList"]{
    width:330px;
    height:323px;
    margin:0 0px
}
.modal-dialog .org-select div[haf-comp-id="orgSelected"]{
    width:160px;
    height:300px;
    margin-left:0px;
    overflow:auto;
}

.modal-dialog .person-select div[haf-comp-id="personSelected"] span,
.modal-dialog .org-select div[haf-comp-id="orgSelected"] span{
    display: block;
    width: 100%;
    line-height: 18px;
    padding: 1px 5px;
    border-bottom: 1px dotted #fff;
    cursor: default;
}
.modal-dialog .person-select div[haf-comp-id="personSelected"] span:hover,
.modal-dialog .org-select div[haf-comp-id="orgSelected"] span:hover{
    background: #ddeeff;
}
.modal-dialog .person-select div[haf-comp-id="personSelected"] span.selected,
.modal-dialog .org-select div[haf-comp-id="orgSelected"] span.selected{
    background: #c9d9f9;
}
.modal-dialog .person-select div[haf-comp-id="personSelectedBtns"],
.modal-dialog .org-select div[haf-comp-id="orgSelectedBtns"]{
    padding:2px;
    color:#ddeeff;
    background:#f3f3f9;
    line-height:18px;
    border-top:1px solid #ddd;
}
.modal-dialog .person-select div[haf-comp-id="personSelectedBtns"] a,
.modal-dialog .org-select div[haf-comp-id="orgSelectedBtns"] a{
    margin:auto 1px;
}

/* flow confirm dialog */
.modal-dialog .flow-confirm div[haf-comp-id="commentsAdd"] span,
.modal-dialog .flow-confirm div[haf-comp-id="tempComments"] span{
    display:inline-block;
    padding: 2px 5px;
    margin: 3px;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color:#eee;
    color:#993333;
    border-radius: 3px;
}
.modal-dialog .flow-confirm div[haf-comp-id="commentsAdd"] span:hover,
.modal-dialog .flow-confirm div[haf-comp-id="tempComments"] span:hover{
    color:#6666ee;
}