body{
	margin: 0;
	padding: 0px;
	font-size: 12px;
    width: 100%;
    height: 100%;
}

/*
.icon-user{background: url('images/ren.png') no-repeat !important;}
.icon-setting{background: url('images/setting.png') no-repeat !important;}
.icon-anchor{background: url('images/anchor.png') no-repeat !important;}
.icon-navigation{background: url('images/navigation.png') no-repeat !important;}
.icon-content{background: url('images/content.gif') no-repeat !important;}
.icon-user-menu{background: url('images/user_menu.png') no-repeat !important;}
.icon-role-menu{background: url('images/role_menu.png') no-repeat !important;}
.icon-dept-menu{background: url('images/dept_menu.png') no-repeat !important;}

.icon-app-new{background: url('images/app_new.gif') no-repeat center !important;}
.icon-app-all{background: url('images/app_all.gif') no-repeat center !important;}
.icon-app-draft{background: url('images/app_draft.gif') no-repeat center !important;}
.icon-app-doing{background: url('images/app_doing.gif') no-repeat center !important;}
.icon-app-done{background: url('images/app_done.gif') no-repeat center !important;}
.icon-app-my{background: url('images/app_my.gif') no-repeat center !important;}*/
